body {
    background-color: #f5f5f5 !important;
    height:100%;
}
header {
  height: 9%;
}
main{
  min-height: 84%;
  position:relative;
  padding: 5% 10% 5% 10%;
}
html{
  height:100%;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (max-width: 991px) {
  header {
    height: 20%;
  }
  main{
    min-height: 73%;
  }
  .footer{
    height: 7%;
  }
  
}

.b-example-divider {
height: 3rem;
background-color: rgba(0, 0, 0, .1);
border: solid rgba(0, 0, 0, .15);
border-width: 1px 0;
box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
color: #fff;
background-color: var(--bs-dark);
border-color: var(--bs-gray);
}
.form-control-dark:focus {
color: #fff;
background-color: var(--bs-dark);
border-color: #fff;
box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
vertical-align: -.125em;
fill: currentColor;
}

.text-small {
font-size: 85%;
}

.dropdown-toggle {
outline: 0;
}

.footer{
  bottom: 0px;
  width: 100%;
  height: 7%;
}

.inner-form-signin {
    padding: 50px 20px;
}

.form-signin {
    max-width: 330px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.list-group-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.g_gracket {
  width: 9999px;
  background-color: #fff;
  padding: 55px 15px 5px;
  line-height: 100%;
  position: relative;
  overflow: hidden;
}

.g_round {
  float: left;
  margin-right: 70px;
}

.g_game {
  position: relative;
  margin-bottom: 15px;
}

.g_gracket h3 {
  margin: 0;
  padding: 10px 8px 8px;
  font-size: 18px;
  font-weight: normal;
  color: #fff
}

.g_team {
  background: #3597AE;
}

.g_team:last-child {
  background: #FCB821;
}

.g_round:last-child {
  margin-right: 20px;
}

.g_winner {
  background: #444;
}

.g_winner .g_team {
  background: none;
}

.g_current {
  cursor: pointer;
  background: #A0B43C!important;
}

.g_round_label {
  top: -5px;
  font-weight: normal;
  color: #CCC;
  text-align: center;
  font-size: 18px;
}
